# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '₹'
DATABASE_URL="postgresql://<user>:<password>@localhost:6432/store?schema=public"
WHAPI_BASE_URL="https://gate.whapi.cloud"
WHAPI_TOKEN=
BUCKET_NAME="mangal-superfoods"
S3_ENDPOINT="https://s3.us-west-004.backblazeb2.com"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="00422c91d172215000000000b"
AWS_ACCESS_KEY=